.landing {
  background: url(./img/lake/bride.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pix {
  width: inherit;
}

#header{
  text-align: center;
    margin: 35px 20px 0px;
    color: white;
}

#section {
  margin-top: 3em;
  color: white;
}

body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

ul img {
  height: 300px;
}

#mainNavbar{
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: .7em;
}

#headingGroup span {
  color: #ea1c2c;
}

.navbar.scrolled {
  background: #d9f1f17d;
  transition: background 500ms;
}

